<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style4.css">
    <title>Chance Page</title>
</head>
<body>
    <div class="container text-center p-4">
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 34rem;">
                <i style="font-size:42px" class="fa">&#x1F44D;</i>
                <div class="card-body">
                    <h2>You Have Chance</h2>
                    <p>The model has predicted that you have <strong>{text}</strong> chance</p>
                    <a href="prediction.html"><button type="goback" class="button">Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
