<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <title>Registeration page</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="innerbox" id="card">
                <div class="cardback">
                    <h2>Register</h2>
                    <form action="connect.php" method="POST">
                        <input type="text" class="inputbox" placeholder="Your Name"required name="Your Name">
                        <input type="email" class="inputbox" placeholder="Your Email Id"required name="Your Email Id">
                        <input type="password" class="inputbox" placeholder="Password"required name="Password">
                        <button type="submit" class="submitbtn">Submit</button>
                    </form>
                    <button type="button" class="btn"><a href="login.html">Log in</a></button>
                    <a href="">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>