<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <title>University Admit Eligibility Predictor</title>
</head>
<body>
    <nav>
        <label class="logo">University Admit Eligibility Predictor</label>
        <ul>
            <li><a class ="active" href="#">Home</a></li>
            <li><a class ="active" href="register.html">Register</a></li>
            <li><a class ="active" href="login.html">Log in</a></li>
            <li><a class ="active" href="prediction.html">Predict</a></li>
        </ul>
    </nav>
    <section class="background ">
        <div class="welcometext">
            <h1>This site is about giving you the correct University Predictor</h1>
            <a href="prediction.html">Predict</a>
        </div>
    </section>
</body>
</html>